# Thư mục build của Maven
/target/
*.jar
*.war
*.ear

# File cấu hình bảo mật môi trường cá nhân 
.env

# Thư mục cấu hình IDE NetBeans / IntelliJ / VS Code
.idea/
nbproject/private/
.vscode/
*.log
nbactions.xml